<%- include('./partials/header.ejs') %>

<!-- <h1>Services Page</h1> -->

<div class="container-fluid p-3 mb-2 bg-dark text-white">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./partials/sidebar.ejs', {page_name : 'project'}) %>
        </div>
        <div class="col-sm-10">
            <div class="container mt-5">
                <h1 class="text-warning mb-5 border-bottom">Projects</h1>
                <div class="row">
                    <div class="col-sm-9">
                        <h3>
                            * Weather Assistant
                        </h3>
                        <p>It is an API based project in python which takes input of a city name in voice format and and tells the temperature of that place in voice form.</p>
                        <a href="https://github.com/jai-bansal-3775/Weather-Assistant-" target="_blank" class="link-info">Github Link</a>
                    </div>
                    <div class="col-sm-9">
                        <h3 class="mt-5">
                            * Online Voting System
                        </h3>
                        <p>It is a basic python mini-project of Online Voting System.</p>
                        <a href="https://github.com/jai-bansal-3775/Online-Voting-System" target="_blank" class="link-info">Github Link</a>
                    </div>
                    <div class="col-sm-9">
                        <h3 class="mt-5">
                            * Resume Project Using Express
                        </h3>
                        <p>I made this project for learning the working of express.js that leads towards the backend developement. All the details provided in this UI are mine.</p>
                        <a href="https://github.com/jai-bansal-3775"  target="_blank" class="link-info">Github Link</a>
                    </div>
                    <div class="col-sm-9">
                        <h3 class="mt-5">
                            * Password Generator 
                        </h3>
                        <p>This is a Password Generator project which generates a password based on the user requirements. This is a javascripts project and I also created this project in react js.</p>
                        <a href="https://github.com/jai-bansal-3775" target="_blank" class="link-info">Github Link</a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
